.my-card {
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 50% !important;
    top: -50px !important;
    color: #00365f !important;
    width: 85px;
}

.texto-card {
    display: block;
    margin-top: -50px !important;
    color: #00365f !important;
}

body {
    background-color: #f8f8f8;
    background-image: url("../img/fondo_login-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.fa-2x {
    vertical-align: middle !important;
}

.ufv-card {
    border-color: #00365f !important;
    color: #00365f !important;
    text-align: center;
}

.link-card:hover > div > div {
    border-color: #0086ec !important;
    color: #0086ec !important;
}

.link-card:hover > div {
    border-color: #0086ec !important;
    color: #0086ec !important;
}

.link-card {
    text-decoration: none !important;
}

body {
    color: #00365f !important;
}

hr {
    border-color: #00365f !important;
}

.btn-primary {
    background-color: #00365f !important;
    border-color: #00365f !important;
}

.pagination {
    display: flex;
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #00365f !important;
    border-color: #00365f !important;
    color: #fff !important;
}

.page-link {
    color: #00365f !important;
}

.vertical-center{
    vertical-align: middle !important;
}